<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="vip.mystery0.xhu.timetable.offlineprobe">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="28" />
    <!-- 明确不申请 INTERNET；安全组件只能进行离线诊断。 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:label="天猫校园离线诊断" android:debuggable="true" android:allowBackup="false" android:extractNativeLibs="true">
        <activity android:name=".ProbeActivity" android:exported="true" />
    </application>
</manifest>
