<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <application>
        <activity android:name=".laundry.CampusLaundryActivity"
            android:exported="false" android:process=":campus_login"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <activity android:name=".laundry.LaundryScanActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <activity android:name=".laundry.LaundryQrCaptureActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <activity android:name=".laundry.CampusLoginActivity"
            android:exported="false" android:process=":campus_login"
            android:theme="@android:style/Theme.Material.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
