<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.tmall.campus.and" />
    </queries>

    <application>
        <activity
            android:name=".ui.activity.TmallSignerProbeActivity"
            android:exported="true"
            android:permission="android.permission.DUMP" />
    </application>
</manifest>
